*{
    margin: 0;
    padding: 0;

}
h1{ display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border-radius: 15 px;
    font-family: sans-serif;
    margin: 20px;
    padding: 20px;

}

.Header nav ul{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: aliceblue;
    margin: 10px 10px 0 10px;
    border-radius: 15px;
    padding: 20px;

}
.Header nav ul li{
    color: inherit;
    background-color: darkgrey;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}